.env

public/uploads/dosen/*
!public/uploads/dosen/.gitkeep

public/uploads/fasilitas/*
!public/uploads/fasilitas/.gitkeep

public/uploads/mitra/*
!public/uploads/mitra/.gitkeep

public/uploads/aktivitas-lab/*
!public/uploads/aktivitas-lab/.gitkeep
