.env

public/uploads/dosen/*
!public/uploads/dosen/.gitkeep

public/uploads/fasilitas/*
!public/uploads/fasilitas/.gitkeep

public/uploads/mitra/*
!public/uploads/mitra/.gitkeep

public/uploads/aktivitas-lab/*
!public/uploads/aktivitas-lab/.gitkeep

public/uploads/cv/*
!public/uploads/cv/.gitkeep

public/uploads/khs/*
!public/uploads/khs/.gitkeep

public/uploads/produk/*
!public/uploads/produk/.gitkeep