main {
  background-color: var(--bg-primary);
}

.halaman, .deskripsi, .nama-mitra{
    font-size: 18px;
}

.halaman-ini{
  color: var(--color-primary-500);
}

.judul{
    font-size: 40px;
}

.cakupan-wilayah{
    font-size: 35px;
}

.card-container {
  height: 250px;
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
}

.logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.gambar-produk {
  width: 100%; /* UBAH: Paksa gambar mengikuti lebar container */
  height: 100%; /* UBAH: Paksa gambar mengikuti tinggi container */
  object-fit: contain; /* Jaga proporsi gambar */
}