/**
 * Fonts Configuration
 * Google Fonts:
 * Applied Informatics Laboratory
 */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Font Variables */
:root {
    /* Font Families */
    --font-manrope: "Manrope", sans-serif;

    /* Font Weights */
    --fw-thin:200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;

    /* Font Sizes */
    --fs-xss: 10px;        
    --fs-xs: 0.75rem;      /* 12px */
    --fs-sm: 0.875rem;     /* 14px */
    --fs-base: 1rem;       /* 16px */
    --fs-lg: 1.125rem;     /* 18px */
    --fs-xl: 1.25rem;      /* 20px */
    --fs-2xl: 1.5rem;      /* 24px */
    --fs-3xl: 1.875rem;    /* 30px */
    --fs-4xl: 2.25rem;     /* 36px */
    --fs-5xl: 3rem;        /* 48px */

    /* Line Heights */
    --lh-tight: 1.25;
    --lh-normal: 1.5;
    --lh-relaxed: 1.75;
    --lh-loose: 2;

    /* Letter Spacing */
    --ls-tight: -0.025em;
    --ls-normal: 0;
    --ls-wide: 0.025em;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-manrope);
    font-weight: var(--fw-bold);
    line-height: var(--lh-tight);
    letter-spacing: var(--ls-tight);
}
