
.navbar-nav .nav-link {
  color: #000 !important; /* Mengubah warna font menjadi hitam */
  margin-right: 20px; /* Memberikan jarak antar item menu */
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
  color: #555 !important; /* Warna saat hover */
}

.navbar-brand {
  margin-right: auto; /* Mendorong menu ke kanan */
}

.navbar-collapse {
  justify-content: flex-end; /* Memposisikan menu ke kanan */
  margin-right: 20px; /* Memberikan jarak dari tepi kanan */
}

/* Memastikan toggler button terlihat */
.navbar-toggler {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    max-width: 150px; /* Ukuran maksimal */
    width: auto;
    height: auto;
}

/* Responsive untuk berbagai ukuran layar */
@media (max-width: 992px) {
    .navbar-brand {
        max-width: 120px;

    }
}

@media (max-width: 768px) {
    .navbar-brand {
        max-width: 100px;


    }
}

@media (max-width: 576px) {
    .navbar-brand {
        max-width: 80px;

    }
}